.create_event_modal1_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.create_event_modal1_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 680px;
  background: white;
  padding: 0.2rem 1rem 0 1rem;
}

.create_event_modal1_header_title {
  position: relative;
  left: 1rem;
}

.create_event_modal1_header_btn {
  position: relative;
  left: 14.5rem;
}

.create_event_modal1_header_close_btn {
  cursor: pointer;
}

.create_event_modal1_header_close_btn:hover {
  color: blue;
}

.create_event_modal1_content1 {
  margin-top: 2rem;
  padding: 1rem;
  overflow-y: auto;
}

.create_event_modal1_content_form {
  color: black;
  font-family: "Noto Sans";
  font-size: 19px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create_event_modal1_content_banner_container {
  width: 100%;
  height: 23rem;
  margin-bottom: 1rem;
}

.create_event_modal1_banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create_event_modal1_content_banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create_event_modal1_content_banner_img_btn {
  position: relative;
  bottom: 4rem;
  left: 31rem;
}

.create_event_modal1_content_banner_img_edit_btn {
  padding: 12px 26px;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(0deg, #3358f4, #1d8cf8);
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  outline: rgb(63, 61, 61);
  cursor: pointer;
}

.create_event_modal1_content_banner_img_edit_btn:hover {
  background: linear-gradient(0deg, #3358f4, #7bbdff);
  border: 1px solid #fff !important;
}

.create_event_modal1_content_hostcard {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.create_event_modal1_content_host_pic_container {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.create_event_modal1_content_host_pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.create_event_modal1_content_host_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create_event_modal1_content_hostname {
  height: 29px;
}

.create_event_modal1_content_hostlink_container {
  font-size: 14px;
  color: #74767d;
}

.create_event_modal1_content_hostlink {
  color: #74767d;
}

.create_event_modal1_content_hostlink:hover {
  color: blue;
}

.create_event_modal1_form_input {
  outline: none;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 0 0 17px 0;
  font-size: 18px;
  height: 3rem;
  border: 1px solid #003366;
}

.create_event_modal1_content_startdate_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create_event_modal1_content_startdate {
  width: 49%;
}

.create_event_modal1_content_starttime {
  width: 49%;
}

.create_event_modal_form-contentet_enddate_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create_event_modal1_content_enddate {
  width: 49%;
}

.create_event_modal1_content_endtime {
  width: 49%;
}

.create_event_modal1_content_customdate_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.create_event_modal1_form_textarea {
  outline: none;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 0 0 17px 0;
  font-size: 18px;
  height: 7rem;
  border: 1px solid #003366;
}

.create_event_modal_form-contentet_group_options {
  display: flex;
  flex-direction: column;
}

.create_event_modal_form-contentet_group_name {
  display: flex;
  flex-direction: row;
}

.create_event_modal_form-contentet_group_name_item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 20rem;
}

.create_event_modal_form-contentet_group_input {
  width: 2rem;
}

.create_event_modal1_content_dailyWeekly_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create_event_modal1_form_label_flex_half {
  width: 49%;
}

.create_event_modal1_content_customdate_btn {
  margin-right: 20px;
  border: none;
  background: #74767d;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  width: 80%;
  font-size: 16px;
  font-weight: 700;
}

.create_event_modal1_content_customdate_btn:hover {
  background: #003366;
}

.create_event_modal1_content_submit_btn_container {
  width: 680px;
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 7.5rem;
  right: 32.94%;
  padding: 0 1rem 1rem 1rem;
  background: white;
  border-radius: 0 0 10px 10px;
}

.create_event_modal1_content_submit_btn {
  padding: 12px 26px;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(0deg, #3358f4, #1d8cf8);
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  outline: rgb(63, 61, 61);
  cursor: pointer;
  width: 60%;
}

.create_event_modal1_content_submit_btn:hover {
  background: linear-gradient(0deg, #3358f4, #7bbdff);
  border: 1px solid #fff !important;
}
