.dashboard_navbar {
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

.dashboard_navbar_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.dashboard_navbar_logo {
  color: #003366;
  margin-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 10rem;
}

.dashboard_ctas {
  margin-right: 2rem;
  color: #003366;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard_searchbar {
  margin-top: 1rem;
  width: 44rem;
  height: 5rem;
  margin-left: 3rem;
}

.searchbar_wrapper {
  margin-top: 1rem !important;
}

.dashboard_nav_menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  /* width: 60vw; */
  justify-content: end;
  margin-right: 2rem;
  height: 100%;
}

.nav_item:hover {
  border-bottom: 2px solid #003366;
}

.dashboard_profile_menu {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.dashboard_profile_dropdown {
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
  cursor: pointer;
  border-radius: 50%;
}

.dashboard_profile_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.dashboard_hamburger_menu:hover {
  background-color: rgba(166, 207, 255, 0.025);
  border: none !important;
}

.dashboard_dropdown_menu {
  position: relative;
  right: 14rem;
  background-color: rgba(247, 248, 250, 1);
  border-radius: 5px;
  padding: 10px 20px;
  width: 19rem;
}

.dashboard_dropdown_menu a {
  text-decoration: none;
}

.dashboard_dropdown_menu::before {
  content: "";
  position: relative;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: #003366;
  transform: rotate(45deg);
}

.dashboard_dropdown_menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.dashboard_dropdown_menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}

.dashboard_dropdown_menu ul li {
  list-style: none;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: black;
}

.dashboard_dropdown_menu ul li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.profile_dropdownItem > a {
  display: flex;
  flex-direction: row;
}

.profile_dropdownItem_text {
  width: 15rem;
}

.profile_dropdownItem_img {
  width: 2rem;
}
