:root {
  --web-wash: #f0f2f5;
  --header-height: 56px;
  --always-dark-overlay: rgba(0, 0, 0, 0.4);
}

body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
  font-size: 12px;
}

a {
  color: #003366;
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.fas {
  font-size: 16px;
}

.main_container {
  height: 100vh;
}

.dashboard_hero_container {
  width: 100%;
  height: 100%;
  top: 8%;
  display: flex;
  flex-direction: row;
  max-width: none;
  position: relative;
  min-width: 0;
  z-index: 0;
  flex-shrink: 1;
  box-sizing: border-box;
  flex-grow: 1;
  align-items: flex-start;
  flex-wrap: nowrap;
  min-height: inherit;
  justify-content: space-between;
  flex-basis: 0px;
  background-color: #f0f2f5 !important;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
}

.left_section {
  font-family: inherit;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  position: sticky;
  position: -webkit-sticky;
  z-index: 0;
  top: var(--header-height);
  max-width: 360px;
  max-height: 100vh;
  min-width: 280px;
  min-height: inherit;
  flex-basis: 360px;
  overflow-anchor: none;
  flex-shrink: 9999;
  display: block;
}

.center_section {
  font-family: inherit;
  min-width: 0;
  flex-shrink: 1;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  position: relative;
  z-index: 0;
  flex-grow: 1;
  padding-right: 32px;
  flex-wrap: nowrap;
  padding-left: 32px;
  flex-basis: 744px;
}

.right_section {
  font-family: inherit;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  position: sticky;
  z-index: 0;
  top: var(--header-height);
  max-width: 360px;
  max-height: 100vh;
  min-width: 280px;
  flex-basis: 360px;
  min-height: inherit;
  flex-shrink: 9999;
  display: flex;
  flex-direction: column;
}

.left_profile_nav {
  display: flex;
  padding: 2rem 0 0 36px;
}

.left_profile {
  padding-left: 8px;
  padding-right: 8px;
  font-family: inherit;
}

.left_profile_link {
  font-family: inherit;
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 0;
  border-bottom-width: 0;
  border-bottom-style: solid;
  padding-bottom: 0;
  border-right-style: solid;
  border-left-width: 0;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-width: 0;
  box-sizing: border-box;
  border-top-width: 0;
  -webkit-user-select: none;
  padding-right: 0;
  border-left-style: solid;
  cursor: pointer;
  position: relative;
  margin-left: 0;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-style: solid;
  margin-right: 0;
  outline: none;
  border-bottom-color: var(--always-dark-overlay);
  border-top-color: var(--always-dark-overlay);
  border-right-color: var(--always-dark-overlay);
  border-left-color: var(--always-dark-overlay);
  list-style: none;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;

  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  color: black;
  font-size: 18px;
}

.left_profile_1 {
  font-family: inherit;
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-width: 0;
  border-bottom-style: solid;
  padding-bottom: 0;
  padding-left: 8px;
  border-right-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  box-sizing: border-box;
  border-top-width: 0;
  display: flex;
  align-items: center;
  border-left-style: solid;
  padding-right: 8px;
  flex-direction: row;
  position: relative;
  margin-left: 0;
  z-index: 0;
  border-top-style: solid;
  margin-right: 0;
  min-height: 44px;
  justify-content: space-between;
}

.hero_nav_img {
  font-family: inherit;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 12px;
  flex-direction: column;
  display: flex;
  position: relative;
  align-self: center;
}

.hero_img_holder {
  font-family: inherit;
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.hero_profile_img {
  width: 4rem;
  height: 4rem;
  border-radius: 60%;
}

.left_menu_nav_container {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 10px;
  padding-inline-start: 16px;
  border-bottom: 1px solid;
  width: 15vw;
}

.left_menu_nav_container > li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: 1rem;
  font-size: 18px;
}

.left_menu_nav_item > a {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: black;
}

.left_menu_nav_img_container {
  margin-right: 1rem;
}

.left_menu_nav_img {
  width: 4rem;
  height: 4rem;
}

.right_container {
  padding: 2rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.right_sponsored {
  border-bottom: 1px solid;
}

.right_sponsored_header {
  margin-bottom: 2rem;
}

.right_sponsored_header > h3 {
  font-size: 20px;
  font-weight: 500;
}

.right_sponsored_item {
  margin-bottom: 1rem;
}

.right_sponsored_item > a {
  display: flex;
  flex-direction: row;
}

.right_sponsored_item_img {
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
}

.right_sponsored_item_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.right_sponsored_item_title {
  font-size: 24px;
  word-wrap: break-word;
  font-weight: 500;
}

.right_sponsored_item_description {
  font-size: 15px;
}

.right_contacts {
  border-bottom: 1px solid;
}

.right_contacts_header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right_contacts_header_text > span {
  font-size: 20px;
  font-weight: 500;
}

.right_contacts_header_search_icon {
  margin-left: 12rem;
}

.right_contacts_item {
  margin-bottom: 1rem;
}

.right_contacts_item > a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right_contacts_item_img_container {
  margin-right: 1rem;
}

.right_contacts_item_img {
  width: 4rem;
  height: 4rem;
  border-radius: 60%;
}

.right_contacts_item_text > span {
  font-size: 18px;
}

.right_conversations_header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right_conversations_header_text > span {
  font-size: 20px;
  font-weight: 500;
  width: 13rem;
  display: block;
}

.right_conversations_header_search_icon {
  margin-left: 4rem;
}

.right_conversations_item {
  margin-bottom: 1rem;
}

.right_conversations_item > a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right_conversations_item_img_container {
  margin-right: 1rem;
}

.right_conversations_item_img {
  width: 4rem;
  height: 4rem;
  border-radius: 60%;
}

.right_conversations_item_text > span {
  font-size: 18px;
}
