*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  color: white;
}

li {
  color: white;
}

address,
dl,
ol,
ul {
  margin-bottom: 1rem;
}

dl,
ol,
ul {
  margin-top: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: initial;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #e14eca;
  background-color: initial;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #c221a9;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, liberation mono,
    courier new, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

svg {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: initial;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #ededff;
}

.leftbar {
  position: fixed;
  height: 100%;
  width: 15%;
}

.off-canvas-sidebar[data="blue"],
.sidebar[data="blue"] {
  background: #fff;
  font-size: 1.175rem;
  height: 96%;
}

.off-canvas-sidebar,
.sidebar {
  background: #ba54f5;
  background: linear-gradient(0deg, #ba54f5, #e14eca);
  height: calc(100vh - 90px);
  width: 260px;
  top: 0;
  left: 0;
  z-index: 1;
  position: sticky;
  background-size: cover;
  background-position: 50%;
  display: block;
  box-shadow: 0 0 45px 0 rgba(227, 234, 255, 1);
  margin: 6rem 21px 21px 21px;
  border-radius: 5px;
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel,
.sidebar,
.sidebar-wrapper {
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
}

.off-canvas-sidebar .sidebar_wrapper,
.sidebar .sidebar_wrapper {
  width: 100%;
  min-height: 100%;
  max-height: calc(100vh - 705px);
  z-index: 4;
  position: relative;
  overflow: auto;
}
.off-canvas-sidebar .sidebar_logo,
.sidebar .sidebar_logo {
  position: relative;
  padding: 1.5rem 0.7rem;
  z-index: 4;
}

.sidebar .sidebar_logo a.sidebar_logo_mini {
  opacity: 1;
  float: left;
  width: 34px;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
}

.sidebar_logo:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background: hsla(0, 0%, 100%, 0.5);
}
.sidebar .siderbar_logo .siderbar_simple-text {
  text-transform: uppercase;
  padding: 0.5rem 0;
  display: block;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}

.sidebar_img {
  border-radius: 50%;
  width: 30px;
  max-width: 100%;
}

.sidebar .sidebar_logo .sidebar_logo_mini {
  transition: all 0.3s ease 0s;
}

.sidebar .sidebar_logo a.sidebar_logo_normal {
  transition: all 0.3s ease 0s;
  color: #001531;
}

.sidebar_logo_normal {
  display: block;
  opacity: 1;
  transform: translateZ(0);
}

.sidebar_logo_name {
  height: 30px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.sidebar_nav {
  margin-top: 20px;
  display: block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.sidebar .sidebar_nav li > a {
  margin: 10px 15px 0;
  border-radius: 30px;
  color: #001531;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.72475rem;
  padding: 10px 8px;
  line-height: 1.625rem;
}

.sidebar_nav li:hover {
  background-color: #ededff;
}

.sidebar .sidebar_nav li:first-child > a {
  margin: 0 15px;
}

.sidebar_nav_link {
  display: flex !important;
  flex-direction: row !important;
  align-items: baseline !important;
  font-size: 1rem !important;
}

.sidebar_nav_link_text {
  margin-left: 1rem;
}

.rightbar {
  width: 100%;
  position: relative;
  left: 18rem;
}

.rightbar_dashboard_menu {
  margin-left: 2rem;
  margin-top: 1.3rem;
}

.rightbar_col_banner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 0 45px 0 rgba(227, 234, 255, 1);
}

.dashbar {
  height: 100%;
  display: flex;
  position: relative;
  width: 100%;
}

.rightbar_profile_banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25rem;
}

.rightbar_profile_cover_wrapper {
  height: 20rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.rightbar_profile_cover_container {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
}

.rightbar_profile_cover_link {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.rightbar_profile_cover_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rightbar_profile_img_container {
  position: absolute;
  display: block;
  width: 10rem;
  height: 10rem;
  top: 15rem;
  left: 14rem;
  border-radius: 50%;
  border: 1px solid white;
  background: #fff;
}

.rightbar_profile_img {
  height: 100%;
  width: 100%;
  position: relative;
  top: -4px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}

.rightbar_profile_img_btns {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightbar_profile_img_edit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 157px;
  height: 78.5px;
  background-color: rgba(52, 152, 219, 0.6);
  border-radius: 157px 157px 0 0;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 200000;
  position: relative;
  bottom: 5px;
  font-weight: 700;
}

.rightbar_profile_img_view_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(52, 152, 219, 0.6);
  width: 157px;
  height: 78.5px;
  border-radius: 0 0 157px 157px;
  position: relative;
  top: -7px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}

.view_ProfilePic_container {
  width: 2rem;
  height: 2rem;
}

.rightbar_cover_img_btn {
  top: 16rem;
  z-index: 999;
  position: absolute;
  display: flex;
  right: 12rem;
}

.rightbar_cover_img_edit_btn {
  padding: 12px 26px;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(0deg, #3358f4, #1d8cf8);
  color: #fff;
  border: 1px solid #001531;
  padding: 8px 20px;
  border-radius: 10px;
  outline: rgb(63, 61, 61);
  cursor: pointer;
  z-index: 100;
}

.rightbar_profile_info_wrapper {
  height: 4rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.rightbar_profile_info_container {
  display: flex;
  width: 80%;
}

.rightbar_profile_info_noise {
  width: 20%;
}

.rightbar_profile_info_holder {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightbar_profile_info_name {
  width: 80%;
  display: flex;
}

.rightbar_profile_info_cta_btn {
  padding: 12px 26px;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(0deg, #3358f4, #1d8cf8);
  color: #fff;
  border: 1px solid #001531;
  padding: 8px 20px;
  border-radius: 10px;
  outline: rgb(63, 61, 61);
  cursor: pointer;
}

.rightbar_col_bottom {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.rightbar_col_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.rightbar_col_main {
  width: 69%;
  margin-right: 1rem;
  border-radius: 5px;
  background: transparent;
}

.rightbar_col_main_item {
  border-radius: 5px;
  margin-bottom: 1rem;
  background: #fff;
  box-shadow: 0 0 45px 0 rgba(227, 234, 255, 1);
}

.rightbar_col_main_item_header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
}

.rightbar_col_main_item_header_img_holder {
  width: 10%;
  height: 4.5rem;
}

.rightbar_col_main_item_header_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rightbar_col_main_item_header_title_holder {
  width: 87%;
}

.rightbar_col_main_item_header_title {
  display: flex;
  flex-direction: column;
}

.rightbar_col_main_item_header_title_name {
  font-size: 20px;
}

.rightbar_col_main_item_header_title_info {
  font-size: 12px;
}

.rightbar_col_main_item_header_more_btn_holder {
  width: 12%;
}

.rightbar_col_main_item_header_more_btn {
  font-size: 30px;
}

.rightbar_col_main_item_header_close_btn_holder {
  width: 6%;
}

.rightbar_col_main_item_header_close_btn {
  font-size: 30px;
}

.rightbar_col_main_item_content_holder {
  padding: 0.5rem;
}

.rightbar_col_main_item_content {
  width: 100%;
  height: 40vh;
}

.rightbar_col_main_item_content_img_holder {
  height: 100%;
}

.rightbar_col_main_item_content_img {
  width: 100%;
  height: 100%;
}

.rightbar_col_main_item_metrics {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rightbar_col_main_item_metrics_container {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0.2rem 0;
  width: 96%;
  border-bottom: 1px solid;
}

.rightbar_col_main_item_metrics_like {
  width: 7%;
}

.rightbar_col_main_item_metrics_comment {
  width: 11%;
}

.rightbar_col_main_item_metrics_share {
  width: 10%;
}

.rightbar_col_main_item_ctas {
  display: flex;
  font-size: 20px;
  height: 7vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.rightbar_col_main_item_ctas_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightbar_col_main_item_ctas_item_name {
  margin-left: 1rem;
}

.rightbar_col_side {
  width: 30%;
  border-radius: 5px;
  color: white;
}

.rightbar_col_side_info {
  background: #fff;
  box-shadow: 0 0 45px 0 rgba(227, 234, 255, 1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #001531;
  font-size: 20px;
}

.rightbar_col_side_info_item {
  display: flex;
  flex-direction: column;
}

.rightbar_col_side_info_item_header {
  display: flex;
  flex-direction: row;
}

.rightbar_col_side_info_item_name {
  width: 20%;
}

.rightbar_col_side_info_item_icon {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.profile_pic_modal_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 /20%), 0px 3px 4px 0px rgb(0 0 0 /14%),
    0px 1px 8px 0px rgb(0 0 0 /12%);
}

.modal_profile_pic_container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.profile_pic_modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 602px;
  min-width: 300px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 25rem;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 /20%), 0px 3px 4px 0px rgb(0 0 0 /14%),
    0px 1px 8px 0px rgb(0 0 0 /12%);
}

.modal_profile_pic_container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.profile_pic_modal_submit_btn {
  padding: 12px 26px;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(0deg, #3358f4, #1d8cf8);
  color: #fff;
  border: 1px solid #001531;
  padding: 8px 20px;
  border-radius: 10px;
  outline: rgb(63, 61, 61);
  cursor: pointer;
}

.profile_pic_modal_submit_btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

@media (min-width: 991px) {
  .main-panel,
  .sidebar,
  .sidebar-wrapper {
    transition-property: top, bottom, width;
    transition-duration: 0.2s, 0.2s, 0.35s;
    transition-timing-function: linear, linear, ease;
  }
}
