.superAdmin_groups_rightBottom_discussion_wrapper {
    height: 100%;
    width: 100%;
  }
  
  .superAdmin_groups_rightBottom_discussion_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_wrapper {
    width: 59%;
    padding: 1rem 1rem 1rem 12rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createPost_wrapper {
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 10px;
    height: 10rem;
    padding: 1rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createPost_container {
    display: flex;
    flex-direction: column;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createTop_wrapper {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.5rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createTop_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createTop_pPic_wrapper {
    height: 4rem;
    width: 4rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createTop_pPic_container {
    width: 100%;
    height: 100%;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createTop_pPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createTop_modalBtn_wrapper {
    width: 87%;
    height: 3rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createTop_modalBtn_container {
    width: 100%;
    height: 100%;
    background: #cccccc;
    border-radius: 40px;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createBottom_wrapper {
    height: 4rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createBottom_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createBottom_btn_wrapper {
    width: 13rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createBottom_btn_wrapper:hover {
    background: rgba(166, 207, 255, 0.2);
    cursor: pointer;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_createBottom_btn_container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #003366;
    justify-content: center;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_wrapper {
    background: white;
    height: 6.6rem;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #cccccc;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_img_wrapper {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_info_wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_info_name_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_info_name_wrapper
    > a {
    color: black;
    margin-right: 0.5rem;
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 500;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_info_name_wrapper
    > a:hover {
    color: blue;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_info_name_wrapper
    > h6 {
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 400;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_info_groupName {
    color: #003366;
    font-weight: 600;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_dateLocation_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_dateLocation_icon_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_btn_wrapper {
    display: flex;
    align-items: center;
    width: 5rem;
    justify-content: center;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_header_btn:hover {
    cursor: pointer;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Bcontent_banner_wrapper {
    max-width: 856px;
    max-height: 308px;
    overflow: hidden;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Bcontent_banner_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Bcontent_banner {
    width: 100%;
    height: auto;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Bcontent_eventInfo_container {
    padding: 1rem;
    border-left: 1px solid #65676b;
    border-right: 1px solid #65676b;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Bcontent_eventDateTime {
    font-size: 17px;
    color: red;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Bcontent_eventName {
    font-size: 20px;
    font-weight: 600;
    color: black;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Bcontent_eventLocation {
    font-size: 18px;
    color: black;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Bcontent_eventMetrics {
    font-size: 18px;
    color: black;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Ncontent_container {
    padding: 1rem;
    border-left: 1px solid #65676b;
    border-right: 1px solid #65676b;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Ncontent_eventDateTime {
    font-size: 17px;
    color: red;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Ncontent_eventName {
    font-size: 20px;
    font-weight: 600;
    color: black;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Ncontent_eventLocation {
    font-size: 18px;
    color: black;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_Ncontent_eventMetrics {
    font-size: 18px;
    color: black;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_footer_container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    background: white;
    border-radius: 0 0 10px 10px;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_metrics_wrapper {
    border-bottom: 1px solid grey;
    padding: 0 1rem 0 1rem;
    height: 2rem;
    margin-bottom: 1rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_metrics_container {
    display: flex;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_metrics_item {
    margin-right: 1rem;
    font-size: 15px;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_btns_wrapper {
    padding: 0 1rem 0 1rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_btn_container {
    display: flex;
    justify-content: space-around;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_btn_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_btn_item:hover {
    background: #888;
    font-weight: 500;
    border: 1px solid white;
    color: white;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_btn_like_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_btn_like_item:hover {
    background: #888;
    font-weight: 500;
    border: 1px solid white;
    color: white;
  }
  
  .like-active {
    background: #a6cfff;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.68) 0px 0px 16px -8px;
    color: #036;
  }
  
  .like-active:hover {
    background: #a6cfff;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.68) 0px 0px 16px -8px;
    color: #036;
    border: 1px solid #036;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_btn_item_icon {
    position: relative;
    right: 0.5rem;
  }
  
  .superAdmin_groups_rightBottom_discussionLeft_post_item_btn_item_name {
    font-size: 20px;
  }
  
  .superAdmin_groups_rightBottom_discussionRight_wrapper {
    width: 39%;
  }
  