.groups_hero_container {
  background: transparent;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  overflow-y: hidden;
}

.lefter_group_wrapper {
  height: 141vh;
}

.lefter_group_container {
  background: #fff;
  height: 100%;
}

.lefter_group_main_col_title {
  position: fixed;
  background: #fff;
  z-index: 10;
  padding: 2rem 2rem 0 2rem;
  width: 20%;
}

.lefter_group_main_col_title > h2 {
  font-size: 25px;
}

.lefter_group_main_col_searchbar {
  margin-bottom: 1rem;
}

.lefter_group_main_col_nav {
  padding-left: 0 !important;
}

.lefter_group_main_col_nav > li {
  border-radius: 10px;
}

.lefter_group_main_col_nav > li:hover {
  background-color: #cccccc;
}

.lefter_group_active_nav {
  background-color: #003366;
}

.lefter_group_active_nav:hover {
  background-color: #003366;
}

.lefter_group_main_col_content {
  position: relative;
  top: 10rem;
  padding-left: 1rem;
}

.lefter_group_main_col_nav_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: 3rem;
}

.lefter_group_main_col_nav_img_container {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lefter_group_main_col_nav_title_container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lefter_group_main_col_nav_title_container > h3 {
  font-size: 15px;
  color: #003366;
  margin: 0;
}

.lefter_group_main_col_nav_title_container_font_white > h3 {
  font-size: 15px;
  color: #fff;
  margin: 0;
}

.lefter_group_main_col_nav_title_container_font_white > h3:hover {
  font-size: 20px;
  color: #fff;
}

.fas {
  font-size: 25px;
  color: #003366;
  margin-right: 1rem;
}

.lefter_group_main_col_nav_dropdown_btn {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 27px;
  color: #003366;
  margin-right: 1rem;
}

.lefter_group_main_col_cta_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}

.lefter_group_main_col_cta_btn_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lefter_group_main_col_cta_wrapper > a {
  margin-right: 20px;
  border: none;
  background: #a6cfff;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  width: 80%;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.lefter_group_main_col_cta_wrapper > a:hover {
  background: #2d2dff;
  color: #fff;
}

.lefter_group_category_header {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.lefter_group_category_title > span {
  font-size: 15px;
  font-weight: 700;
}

.lefter_group_category_btn > a {
  font-size: 14px;
}

.lefter_group_category_nav {
  padding-left: 0;
}

.lefter_group_category_nav > li {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
}

.lefter_group_category_nav > li:hover {
  background-color: #cccccc;
}

.lefter_group_category_nav_item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.lefter_group_category_nav_img_container {
  width: 25%;
}

.lefter_group_category_nav_title_container {
  width: 84%;
  display: flex;
  align-items: center;
}

.lefter_group_category_nav_title_container > h3 {
  font-size: 20px;
  color: #003366;
}

.lefter_group_dropdown_menu {
  position: relative;
  background-color: rgba(247, 248, 250, 1);
  border-radius: 5px;
  padding: 0 2rem;
  width: 100%;
}

.lefter_group_dropdown_menu a {
  text-decoration: none;
  width: 100%;
}

.lefter_group_dropdown_menu::before {
  content: "";
  position: relative;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: #003366;
  transform: rotate(45deg);
}

.lefter_group_dropdown_menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.lefter_group_dropdown_menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
  display: none;
}

.lefter_group_dropdown {
  padding-left: 1rem;
}

.lefter_group_dropdown_menu ul li {
  list-style: none;
  padding: 2px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: black;
}

.lefter_group_dropdown_menu ul li:hover a {
  color: #fff;
  cursor: pointer;
  background-color: #cccccc;
}

.lefter_group_dropdownItem > a {
  display: flex;
  flex-direction: row;
}

.lefter_group_dropdownItem_text {
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #003366;
}

.lefter_group_dropdownItem_img_container {
  width: 25%;
  padding: 1rem;
}

.lefter_group_dropdownItem_img {
  width: 2rem;
  height: 2rem;
}
